.custom-radio {
    display: block;
    position: relative;
    padding-left: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #757678;
    margin-bottom: 0;
  }
  
  /* Hide the browser's default checkbox */
  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: solid 1px #2c2c2c;
    background: transparent;
    margin-right: 10px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-radio input:checked ~ .checkmark {
    background: url('../images/checked.svg') no-repeat;
    background-size: 100%;
    color: #fff;
  }
  /*checkbox */
  
  .custom-check {
    display: block;
    position: relative;
    padding-left: 24px;
    line-height: normal;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $primary-color !important;
    margin-bottom: 0;
  }
  
  /* Hide the browser's default checkbox */
  .custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .custom-check .checkmark {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: solid 1px #e6e3e3;
    background: transparent;
    text-align: center;
    padding: 0;
    &.error {
      border-color: $error-color !important;
    }
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-check input:checked ~ .checkmark {
    border: 0;
    background: url('../images/checked.svg') no-repeat;
    background-size: 100%;
  }
