.disliked-page {
  margin-top: 30px;
  @media screen and (min-width: 993px) {
    margin-top: 66px;    
  }
  .back-btn {
    margin: 0 0 34px;
    @media screen and (min-width: 993px) {
      margin: 0 0 34px;
    }  
  }
  h1 {    
    font-weight: bold;
    line-height: normal;
    color: #2c2c2c;
    margin: 0;
    font-size: 29px;
    margin-bottom: 12px;
    @media screen and (min-width: 993px) {
      font-size: 50px;
      margin-bottom: 0;
    }
  }
  .bar-border {
    width: 36px;
    height: 3px;
    background-color: #2c2c2c;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
  }
}
.like-disliked-wraaper {
  margin: 0 0 25px;
  @media screen and (min-width: 993px) {
    margin: 0 0 25px;
  }
}
.disliked-filters {
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: 993px) {
    flex-direction: row;
  }
  .filter-by {
    margin: auto 0 auto auto;
    @media screen and (max-width: 992px) {
      position: absolute;
      bottom: 8px;
      right: 0;
      z-index: 2
    }
    .dropdown-menu.show {
      right: 0;
      left: auto !important;      
      box-shadow: 0 2px 27px 0 rgb(0 0 0 / 7%);
      width: 300px;
      margin: 12px 0 0;
      border-radius: 0;
      border-width: 0;
      padding: 30px 20px 20px;
      transform: translate3d(0px, 17px, 0px) !important;
      @media screen and (min-width: 993px) {
        padding: 30px 24px 40px 27px;
      }
      .custom-checkbox {
        margin-bottom: 15px;
      }
    }
    .dropdownToggle {
      cursor: pointer;
      &::after {
        display: none;
      }
    }
    .text-icon {
      margin-left: 8px;
      font-size: 14px;
      line-height: normal;
      color: #050505;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }
  .filter-action-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 22px;
    .clear-selected {
      margin-right: 25px;
      font-size: 15px;
      font-weight: bold;
      line-height: normal;
      color: #ff4848;
      cursor: pointer;
    }
    .btn-primary {
      height: 54px;
      font-size: 15px;
      font-weight: bold;
      width: 120px;
    }
  }
}
.disliked-types-count {  
  display: flex;
  align-items: center;
  @media screen and (min-width: 993px) {
    margin-left: 50px;
  }
  .item-type {
    display: block;    
    text-align: left;
    margin-right: 16px;
    @media screen and (min-width: 768px) and  (max-width: 992px) {
      width: 20%;
    }
    @media screen and (min-width: 993px) {
      margin-right: 35px;
    }
    &:last-child{
      margin-right: 0;
    }
    strong {
      font-weight: bold;
      line-height: normal;
      color: #050505;
      display: block;
      font-size: 18px;
      @media screen and (min-width: 993px) {
        font-size: 24px; 
      }
    }
    .item-name {
      font-size: 13px;
      line-height: normal;
      color: #050505;
      @media screen and (min-width: 993px) {
        font-size: 14px; 
      }
    }
    &.pending-item {
      strong {
        color: #888888;
      }
      .item-name {
        color: #2c2c2c;
      }
    }
    &.sold-item {
      strong {
        color: #ff4848;
      }
      .item-name {
        color: #2c2c2c;
      }
    }
  }
}
.disliked-items-card {
  flex-wrap: wrap;
  float: left;
  width: 100%;
  display: flex;
  padding: 0 0 32px;
  @media screen and (max-width: 767px) {
    padding: 0 60px 32px;
  }
  .item-card {
    width: calc(25% - 2px);
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    float: left;
    margin: 1px;
    @extend %all-animation;    
    @media screen and (max-width: 767px) {
      width: calc(100% - 2px);
    }
		.card-detail-view-hover{
			overflow: auto;
			padding: 17px;
			background-color: #ffffff;
			height: calc(100% - 50px);
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 5;
			display: none;
			strong{
				margin: 4px 0 -2px;
				display: block;
				font-size: 15px;
				font-weight: bold;
				line-height: normal;
				color: #2c2c2c;
			}
			span{
				line-height: normal;
				display: inline-block;
				margin-top: 8px;
				font-size: 14px;
				color: #2c2c2c;
				&.data{font-weight: 600;}
				&:first-child{
					margin-top: 0;
				}
			}
		}
		&:hover,&:focus{
      @extend %all-animation;    
      .card-media{
        img{
          opacity: 0.2;
        }
      }
			.card-detail-view-hover{
				display: block;
			}
		}
    &.item-card-liked {
      .card-liked-status {
        span {
          img {
            transform: rotateZ(180deg);
            &.thumb-down {
              margin-top: -22px;
            }
          }
        }
      }
    }
    &.liked-empty-state {
      .card-liked-status {
        span {
          img {
            &.thumb-down {
              margin-top: 0px;
              opacity: 0.42;
              transform: rotateZ(180deg);
            }
          }
        }
      }
    }
  }
  .card-media {
    height: 100%;
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
			opacity: 0.9;
      @media screen and (min-width: 1200px) {
        height: 275px;
      }
    }
  }
  .card-liked-status {
    position: absolute;
    top: 0;
    right: 0;    
    z-index: 2;
    width: 100%;
    text-align: right;
    padding: 15px;
    @media screen and (min-width: 768px) {
      padding: 21px 15px 15px 15px;
    }
    .thumb-up {
      opacity: 0.42;
      margin-top: -10px;
    }
    span {
      margin-left: 8px;
    }
  }
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px;
    z-index: 2;
    width: 100%;
    strong {
      font-size: 16px;
      font-weight: bold;
      line-height: normal;
      color: #ffffff;
      margin-bottom: 3px;
      display: block;
    }
    .amount {
      font-size: 14px;
      line-height: normal;
      color: #ffffff;
    }
  }
}
.sold-card {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  line-height: normal;
  color: #2c2c2c;
  width: 114px;
  height: 38px;
  padding: 13px 44px 12px 45px;
  border-radius: 2px;
  background-color: #ffffff;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.liked-averge-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
  .bar-border {
    opacity: 0;
    margin-right: 26px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .liked-averge-item {
    line-height: normal;
    color: #2c2c2c;
    font-size: 14px;
    margin-bottom: 4px;
    @media screen and (min-width: 993px) {
      margin-right: 22px;
      font-size: 15px;  
      margin-bottom: 0;
    }
    strong {
      font-weight: 600;
    }
  }
}

.selected-value-chip {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;  
  background-color: #f1f1f1;
  margin: 0 6px 10px 0;
  padding: 7px 12px 7px 7px;
  @media screen and (min-width: 768px) {
    margin: 0 10px 10px 0;
    padding: 7px 12px 8px 14px;  
  }
  .chip-data {    
    font-weight: 600;
    line-height: normal;
    color: #2c2c2c;
    padding-right: 8px;
    font-size: 13px;
    @media screen and (min-width: 768px) {
      padding-right: 12px;
      font-size: 16px;
    }
  }
}
.added-to-home-small {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.filter-selected-value{
  margin-top: -4px;
  flex-wrap: wrap;
}
.item-card{
  cursor: pointer;
}