.form-group {
  position: relative;
  label {
    font-size: 16px;
    color: $label-color;
    margin: 0;
  }
  .form-control {
    font-size: 16px;
    font-weight: 600;
    color: $primary-color;
    height: 25px;
    background: transparent;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    @include inputPlaceholder() {
      font-size: 16px;
      font-weight: 600;
      color: #d9d9d9;
    }
  }
  &.error {
    label {
      color: $error-color !important;
    }
    .form-control {
      border: 1px solid $error-color !important;
    }
  }
}
