.static-page-container {
  padding-bottom: 0;
  .login-container{
    @media screen and (min-width: 993px) {
      padding-bottom: 60px;
    }    
    @media screen and (max-width: 992px) {
      padding-top: 50px;
    }
  }
  .right-section {
    margin: auto;
    .normal-text {
      font-size: 50px;
      @media screen and (max-width: 992px) {
        font-size: 32px;
      }
    }
    .heading-text {
      margin-bottom: 24px;
      margin-top: 6px;
      font-size: 12px;
      line-height: normal;
      color: #2c2c2c;
    }
  }
  .btn-container {
    margin-top: 25px !important;
    .btn-primary {
      width: 210px !important;
      height: 66px;
      @media screen and (max-width: 992px) {
        width: 100% !important;
      }
    }
  }
}
.textarea-height-medium {
  height: 92px !important;
}
.rating-status {
  margin-top: 10px;
  display: flex;
  .icons-rating {
    margin-right: 5px;
    cursor: pointer;
  }
}
.overall-rating {
  margin-top: 10px;
  .pagination {
    border-radius: 0;
    margin-bottom: 0;
  }
  .page-item {
    .page-link {
      border-radius: 0;
      background-color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      line-height: normal;
      height: 45px;
      width: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 767px) {
        height: 30px;
        width: 30px;  
        font-size: 14px;
      }
    }
    &.rating-poor {
      &.active {
        .page-link {
          background-color: #ff5454;
        }
      }
      .page-link {
        border-color: #ff5454;
      }
    }
    &.rating-average {
      &.active {
        .page-link {
          background-color: #e2bc3a;
        }
      }
      .page-link {
        border-color: #e2bc3a;
      }
    }
    &.rating-good {
      &.active {
        .page-link {
          background-color: #47ab49;
        }
      }
      .page-link {
        border-color: #47ab49;
      }
    }
  }
}
.help-video-page{
  .right-section{
    width: 100%;
    max-width: 720px;
    .video-container{
      video{
        width: 100%;
        height: 400px;
        @media screen and (max-width: 767px) {
          height: 30vh;
        }  
      }
    }
  }
}
